:root{
    --miedo-site-background-color:#6d86a2;
    --miedo-site-navbar-border:#004d64;
    --miedo-site-navbar-color:#8bd0ed;
    --miedo-site-navbar-text:#003257;
    --miedo-content-container-border:#184974;
    --miedo-content-container-color:#a0cafd;
    --miedo-content-container-text:#003546;
    --miedo-accent-container-border:#573a70;
    --miedo-accent-container-color:#DDB9f8;
    --miedo-accent-container-text:#402357;
    --miedo-spoiler-container-border:#8f3c55;
    --miedo-spoiler-container-color:#8f5164;
    --miedo-spoiler-container-text:#59222d;
}